.register, .login {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }

#error-message{
  color: red;
}

.content{
  min-height: 250px;
}

.post{
  border-style: solid;
  border-width: thin;
  border-color: #ccc;
  margin-bottom: 20px;
}

.owner, .postContent, .timestamp{
  margin-left: 10px;
}

.timestamp{
  font-size: 13px;
}
