.register, .login {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }

#error-message{
  color: red;
  font-size: 25px;
}

.content{
  min-height: 250px;
}

.post, .comment{
  border-style: solid;
  border-width: thin;
  border-color: #ccc;
  margin-bottom: 20px;
}

.owner, .postContent, .timestamp, .comments-text, .commentator, .commentContent{
  margin-left: 10px;
}

.timestamp, .comments-text{
  font-size: 13px;
}

.post-view{
  border-style: solid;
  border-width: thin;
  border-color: #ccc;
  margin-bottom: 20px;
  text-align: center;
}
.owner-post-view{
  font-size: 35px;
}

.postContent-post-view{
  font-size: 28px;
}

#username{
  text-align: center;
}
